a {
    color: black;
}

hr {
    margin: 0px;
    border: none;
}

header + hr {
    position: fixed;
    top: 50px;
    width: 100%;
    border-top: 2px black solid;
}

body {
    margin: 0px;
}

nav a.active {
    background-color: rgb(38, 38, 38);
    color: white;
}

#home_nav {
    position: fixed;
    background-color: white;
    top: 52px;
    height: 50px;
    width: 100%;
    font-size: 20px;
}

#home_nav > hr {
    border-top: 2px black solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

article {
    margin-top: 60px;
}

header {
    position: fixed;
    background-color:lightgray;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

main {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    text-align: center;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

#usermenu {
    display: flex;
}

#usermenu > * {
    margin: 10px;
}

#usermenu > div > button {
    min-width: 70px;
}

.menu {
    display: flex;
    position: fixed;
    background-color: white;
    flex-direction: column;
    border: 1px solid black;
    min-width: 100px;
}

#notifications_menu {
    width: 540px;
    height: 70%;
    overflow: auto;
    left: 50%;
}

#notifications_menu > button {
    width: max-content;
    margin: 10px;
}

#notifications_menu > ul {
    padding: 0px;
    margin: 0px;
}

.course_list {
    padding: 0px;
}

.list_elem {
    border: 2px solid black;
    margin: 10px;
    width: 500px;
    min-height: 100px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.list_elem > * {
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border-top: 1px rgb(60, 60, 60) solid;
}

.elem_label {
    font-size: 12px;
    color: rgb(60, 60, 60);
}

.elem_head {
    font-size: 18px;
}

.list_elem > button {
    width: min-content;
}

nav li {
    margin: 10px;
}

#course {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 60%;
    margin-top: 50px;
    border: 2px black solid;
}

#course > * {
    margin: 10px;
}

.course_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
}

.course_head > div:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
    max-width: 60%;
}

.course_label {
    font-size: 16px;
    color: rgb(60, 60, 60);
}

.course_descr {
    border: 1px rgb(60, 60, 60) solid;
    padding: 10px;
    width: 80%;
}

#course > hr {
    margin-left: 0px;
    border-color: black;
}

.ol_elem {
    margin: 10px;
}

#article_nav {
    position: fixed;
    top: 52px;
    bottom: 0px;
    left: 0;
    right: calc(100% - 200px);
    background-color: white;
    border-right: 2px black solid;
    z-index: 100;
}

#article_nav > div {
    margin-top: 20px;
    margin-left: 30px;
}

#article_page > div:nth-of-type(1) {
    position: absolute;
    top: 62px;
    left: 210px;
    display: flex;
    flex-direction: column;
}

#article_page > div:nth-of-type(1) > * {
    margin-bottom: 10px;
}

#article_page {
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 350px;
    width: calc(100vw - 600px);
}

#article {
    border-bottom: 2px black solid;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: inherit;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin-top: 30px;
    width: 700px;
    min-height: 100px;
}

.comment > * {
    margin-bottom: 10px;
}

.comment_buttons > *{
    margin-right: 5px;
}

.comments {
    list-style: none;
}

.comment_editor > textarea {
    margin-top: 20px;
    width: 500px;
    height: 100px;
}

.comment_editor {
    display: flex;
    flex-direction: column;
}

.comment_editor > span > * {
    margin-right: 10px;
}

#article_editor {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 30px;
    border: 2px black solid;
    padding: 10px;
}

#article_editor > nav {
    font-size: 18px;
    text-decoration: underline;
}

#course_editor > nav {
    font-size: 18px;
    text-decoration: underline;
}

#article_editor > * {
    margin-bottom: 15px;
}

#article_top {
    display: flex;
    justify-content: space-between;
}

#article_editor > button {
    width: max-content;
}

#article_editor > form > input[type=text] {
    width: 300px;
    margin-right: 10px;
}

#article_form > textarea {
    width: calc(100% - 8px);
    height: 700px;
    margin-bottom: 10px;
}

#article_form > button {
    margin-right: 10px;
}

.img_elem {
    display: flex;
    flex-direction: column;
    width: calc(100% - 8px);
    border: 1px black solid;
    margin-bottom: 10px;
}

.img_elem > * {
    margin: 10px;
}

.img_elem > button {
    width: max-content;
}

#course_editor {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 30px;
    border: 2px black solid;
    padding: 10px;
}

#course_editor > * {
    margin-bottom: 15px;
}

#course_top {
    display: flex;
    justify-content: space-between;
}

#course_editor input[type=submit] {
    margin-left: 10px;
}

#edit_course_name > input[type=text] {
    width: 300px;
}

#edit_course_descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#edit_course_descr > input[type=submit] {
    margin-top: 5px;
    margin-left: 0px;
}

#edit_course_descr > textarea {
    width: 500px;
    height: 150px;
}

#edit_course_access > input[type=submit] {
    margin-top: 5px;
    margin-left: 0px;
}

#access_link > * {
    margin-bottom: 5px;
}

.first_word {
    margin-right: 20px;
}

#course_editor ol li {
    margin-bottom: 20px;
    border: 1px black solid;
    padding: 5px;
}